/*
* @Author: Administrator
* @Date:   2017-07-04 17:52:58
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-04 21:10:03
*/
#nv{
	width:1200px;
	height:30px;
	margin:1px auto;
}
#nv ul li{
	float: left;
	line-height: 30px;
}
/*购物区域*/
#buy_step{
	width:1200px;
	margin:0 auto;
	height:auto;
}
#buy_step div.buy_step_Title{
	width:100%;
	height:24px;
	margin: 0px auto 15px auto;
	background:url(../image/buy_liucheng.jpg) no-repeat center top;
}
.focus1{
	float: left;
    width: 33%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color:#fff;
}
.focus2{
	float: left;
    width: 33%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.focus3{
	float: left;
    width: 33%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
/*----表格的样式-----*/
#content{
	position: relative;
    margin: 0 auto 5px;
    width: 1200px;
    height: auto;
    overflow: hidden;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    line-height: 22px;
}
#content table{
	border:1px solid;
	text-align: center;
}
#content table tr td{
	border-bottom: 1px dashed #ccc;
}
#content table tr td:nth-child(1){
	width:80px;
	height:auto;	
}
#content table tr td:nth-child(2){
	width:115px;
	height:auto;	
}
#content table tr td:nth-child(3){
	width:240px;
	height:auto;	
}
#content table tr td:nth-child(4){
	width:150px;
	height:auto;	
}
#content table tr td:nth-child(5){
	width:100px;
	height:auto;	
}
#content table tr td:nth-child(6){
	width:100px;
	height:auto;	
}
#content table tr td:nth-child(7){
	width:auto;
	height:auto;	
}
/*表格第一行的样式*/
#content table tr:first-child{
	height:30px;
	line-height:30px;
	background:url(../image/bg_shortcut.gif);	
}
#content table tr:first-child td{
	border-bottom: none;
	color:#000;
	font-weight:bold;
}
/*表格最后一行的样式*/
#content table tr:last-child{
	text-align: center;
	height:30px;
	background:url(../image/bg_shortcut.gif);
	color:#000;
	font-weight: bold;
}
#content table tr:last-child td{
	border-bottom: none;
}
#num{
	width:59px;
	heigth:19px;
	border:1px solid #ccc;
}







#content table tr:last-child a{
	color:#000;
	font-weight: bold;
}
#settlement{
	width:1200px;
	height:30px;
	margin:15px auto;
	text-align: right;
}
#settlement div{
	float: right;
	margin:0 10px;
}
#settlement div:nth-child(1){
	width:107px;
	height:32px;
	background:#fe9424;
	color:#fff;
	cursor:pointer;
	line-height: 32px;
	text-align: center;
	border-radius: 10px;
	font-weight: bold;
}
#settlement div:nth-child(2){
	width:107px;
	height:32px;
	background:#d6d6d6;
	text-align: center;
	line-height: 32px;
	border-radius: 10px;
}
#settlement div:nth-child(2) a{
	color:#000;
	font-weight: bold;
}







